<div id="options" class="row">
  <form class="" id="options-form">
    <div class="form-group size-group col-xs-12 col-sm-4 col-md-4">
      <h2>Size</h2>

      <div class="form-group-inner">
        <input type="radio" name="size-choice" value="sizes" ng-model="$ctrl.options.size_choice">
        <label for="size-choice">Size limits (pixels)</label>
        <div class="form-group max-sizes">
          <div class="checkbox maxwidth">
            <label for="max-width">
              <input type="checkbox" name="max-width" value="" ng-model="$ctrl.options.max_width">
              <span>Max Width</span>
              <input type="text" name="max-width-value" value="" ng-model="$ctrl.options.max_width_value">
            </label>
          </div>
          <div class="checkbox maxheight">
            <label for="max-width">
            <input type="checkbox" name="max-height" value="" ng-model="$ctrl.options.max_height" >
              <span>Max Height</span>
              <input type="text" name="max-height-value" value="" ng-model="$ctrl.options.max_height_value">
            </label>
          </div>
        </div>
        <input type="radio" name="size-choice" value="ratio" ng-model="$ctrl.options.size_choice">
        <label for="size-choice">Ratio</label>
        <input id="ratio" type="text" name="ratio-value" value="" ng-model="$ctrl.options.ratio">
      </div>

    </div>

    <div class="form-group rotation-group col-xs-12 col-sm-4 col-md-4">
      <h2>Transform</h2>
      <div class="form-group-inner">
        <div class="">
          <input type="radio" name="rotation" value="0"  ng-model="$ctrl.options.rotation">
          <label for="rotation">No rotation</label>
        </div>
        <!--
        <div class="">
          <label for="rotation">Auto-rotate</label>
          <input type="radio" name="rotation" value="auto"  ng-model="$ctrl.options.rotation">
        </div>
        -->
        <div class="">
          <input type="radio" name="rotation" value="90"  ng-model="$ctrl.options.rotation">
          <label for="rotation">Rotate 90° CW</label>
        </div>
        <div class="">
          <input type="radio" name="rotation" value="180"  ng-model="$ctrl.options.rotation">
          <label for="rotation">Rotate 180° CW</label>
        </div>
        <div class="">
          <input type="radio" name="rotation" value="-90"  ng-model="$ctrl.options.rotation">
          <label for="rotation"> Rotate 90° CCW</label>
        </div>
      </div>
      <hr>
      <div class="form-group-inner">
        <div class="">
          <input type="radio" name="crop" value=""  ng-model="$ctrl.options.crop">
          <label for="rotation">No croping</label>
        </div>
        <div class="">
          <input type="radio" name="crop" value="square"  ng-model="$ctrl.options.crop">
          <label for="rotation">Crop to make square (1:1)</label>
        </div>
        <div class="">
          <input type="radio" name="crop" value="rect"  ng-model="$ctrl.options.crop">
          <label for="rotation">Crop to make rectangular (4:3)</label>
        </div>
        <!--
        <div class="">
          <input type="radio" name="crop" value="panoramic"  ng-model="$ctrl.options.crop">
          <label for="rotation">Crop to make panoramic (16:9)</label>
        </div>
        -->
      </div>


    </div>

    <div class="form-group group-location col-xs-12 col-sm-4 col-md-4">
      <h2>Location and name</h2>
      <div class="form-group-inner">
        <div class="">
          <input type="radio" name="location" value="auto" ng-model="$ctrl.options.location">
          <label for="location">Auto-rename</label>
        </div>
        <div class="">
          <input type="radio" name="location" value="same" ng-model="$ctrl.options.location">
          <label for="location">Same as original</label>
        </div>
        <div class="">
          <input type="radio" name="location" value="custom" ng-model="$ctrl.options.location">
          <label for="location">Custom name</label>
          <input id="custom-name" type="text" name="location-name-template" value="" ng-model="$ctrl.options.location_name" placeholder="[time]_[size]_[i].jpg">
        </div>
        <!--
        <div class="">
          <div class="checkbox">
            <label for="output">
              <input type="checkbox" name="output-choice" value="" ng-model="$ctrl.options.output_folder">
              Specify an output folder <br/>
            </label>
            <input id="output-folder" type="text" name="output" value="" ng-model="$ctrl.options.output_folder_value">
          </div>
        </div>
        -->
      </div>
    </div>
  </form>
</div>

<div class="row info-bar">
  <div class="col-xs-12 text-center">
    Drag files anywhere in the window to resize them !
  </div>
</div>

<div class="row logs">
  <div class="col-xs-12 ">
    <div class="console" contenteditable="true" resizable="true">
    </div>
  </div>
</div>
